<h1>{{title}}</h1>
<h2>My Cards</h2>
<ul class="cards">
    <li *ngFor="let card of cards"
        [class.selected]="card === selectedCard"
        (click)="onSelect(card)">
        <span class="badge">{{card.cardId}}</span> {{card.name}}
    </li>
</ul>
<div *ngIf="selectedCard">
    <h2>{{selectedCard.name}} details!</h2>
    <div><label>id: </label>{{selectedCard.cardId}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="selectedCard.name" placeholder="name"/>
    </div>
</div>