<h2>My Cards</h2>
<div class="wrapper" style="width: 100%;">
    <ul class="itemHolder" style="margin: 0; padding: 0; list-style-type: none">
        <template ngFor let-card [ngForOf]="cards">
            <li *ngIf="card.img"
                [class.selected]="card === selectedCard"
                (click)="onSelect(card)"
                style="float: left;"
            >
                <div style="width: 150px">
                    <img src="{{card.img}}" alt="{{card.name}}" style="width: 100%"/>
                </div>
            </li>
        </template>

    </ul>
</div>
<my-card-detail [card]="selectedCard"></my-card-detail>